@model IEnumerable<WebApplicationTests.Models.FAQ>
<link rel="stylesheet" href="~/css/style.css" />

<div id="accordion">
   @foreach (var faq in Model)
   {
       <div class="card">
           <div class="card-header" id="@faq.HeaderId">
               <h5 class="mb-0">
                   <button class="btn">
                       @faq.Name
                   </button>
               </h5>
           </div>
           <div id="@faq.Id" class="">
               <div class="card-body">
                   @faq.Answer
               </div>
           </div>
       </div>
   }
</div>